<!DOCTYPE html>
<html>
	<head>
    {% load static %}

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CryptoCraker</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
		<meta name="author" content="Codrops" />
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'fusion/semantic-ui/components/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fusion/semantic-ui/components/icon.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fusion/css/semantic.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript" src="{% static 'fusion/js/semantic.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'fusion/js/dropdown.js' %}"></script>
		<script>
    	new WOW().init();
    </script>

		<style>
		</style>
	</head>
	<body>

		{% include "crypto/sidenavbar.html" %}

		{% block sidenav %}
		{% endblock %}

		<div>
			{% include 'crypto/navbar.html' %}
			{% block navbar %}
			{% endblock %}
			<div class="ui grid" style="padding-top:15em">
				<div class="ui row"style="margin-left:2em;margin-right:3em;margin-bottom:10em	">
					<div class="ui inverted vertical masthead nine wide column " id="divcontent">
						<div class="fotorama "data-width="100%" data-height="50em">
						  <img src="{% static 'crypto/img/quiz.jpg' %}">
						  <img src="{% static 'crypto/img/quotes2.jpg' %}">
						</div>
					</div>
					{% include "crypto/login_signup.html" %}

					{% block login_signup %}
					{% endblock %}
				</div>
				<div class="ui special cards" style="margin-left:10em;margin-top:20em;margin-bottom:1q0em;">
				  <div class="span3 wow bounceInLeft" style="margin:5em;height:50em;width:30em">
				    <div class="blurring dimmable image"style="height:40em">
				      <div class="ui dimmer">
				        <div class="content">
				          <div class="center">
				            <div class="ui inverted button">Dive In</div>
				          </div>
				        </div>
						   </div>
						   <img  src="{% static 'fusion/img/zlatan.jpg' %}"style="height:40em;width:30em">
						 </div>
						 <div class="content">
							 <a class="header">Live Contests</a>
							 <div class="meta">
						   <span class="date">Create in Sep 2014</span>
						 </div>
					 </div>
					 <div class="extra content">
						 <a>
						 		<i class="users icon"></i>
						 		2 Members
						 </a>
					 </div>
				 </div>
				 <div class="span3 wow bounceInDown center" style="margin:5em;height:50em;width:30em">
					 <div class="blurring dimmable image"style="height:40em">
						 <div class="ui dimmer">
							 <div class="content">
								 <div class="center">
									 <div class="ui inverted button">Dive In</div>
								 </div>
					     </div>
						 </div>
						 <img  src="{% static 'fusion/img/zlatan.jpg' %}"style="height:40em;width:30em">
					 </div>
			     <div class="content">
						 <a class="header">What You Missed?</a>
				     <div class="meta">
							 <span class="date">Create in Sep 2014</span>
				     </div>
					 </div>
			     <div class="extra content">
						 <a>
							 <i class="users icon"></i>
							 2 Members
						 </a>
					 </div>
				 </div>
				 <div class="span3 wow bounceInRight" style="margin:5em;height:50em;width:30em">
					 <div class="blurring dimmable image" style="height:40em">
						 <div class="ui dimmer">
							 <div class="content">
								 <div class="center">
									 <div class="ui inverted button">Dive In</div>
								 </div>
							 </div>
						 </div>
						 <img  src="{% static 'fusion/img/zlatan.jpg' %}" style="height:40em;width:30em">
					 </div>
					 <div class="content">
						 <a class="header">What's ahead?</a>
						 <div class="meta">
							 <span class="date">Create in Sep 2014</span>
				     </div>
					 </div>
					 <div class="extra content">
						 <a>
							 <i class="users icon"></i>
				       2 Members
						 </a>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>



		<script>
		$(document).ready(function(){
		      $('.ui.accordion').accordion('refresh');

		  });
			$('#signupdivert').click(function(e){
				$('#loginblock').css({'display':'none'});
				$('#signupblock').css({'display': 'block'});
			});
			$('#logindivert').click(function(e){
				$('#loginblock').css({'display':'block'});
				$('#signupblock').css({'display': 'none'});
			});
			$('.ui.sidebar')
					.sidebar('attach events', '#navbar #sidebartrigger')
					// .sidebar('setting', 'transition', 'overlay')
					// .sidebar('toggle')
			;
			$('.special.cards .image').dimmer({
			  on: 'hover'
			});
		</script>

	</body>
</html>
