{% load static %}

{% block navBar %}
    <div class="ui stackable massive inverted top fixed menu" id="navbar">
        <a class="item" id="sidebartrigger">
            <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/" >
            <span>
                Quiz!
            </span>
        </a>

        <a class="item" href="#">
            <i class="ui active inverted large home icon"></i>
            Dashboard
        </a>

        <div class="right inverted menu">
          {% if user.is_authenticated %}

          <div class="item">
              <img class="ui avatar image" src="{% static 'crypto/img/zlatan.jpg' %}">
              {{user.username}}
          </div>

          <div class="ui dropdown icon item">
              <i class="settings icon"></i>
              <div class="menu">
                  <div class="item">
                      <i class="dropdown icon"></i>
                      <span class="text">New</span>
                      <div class="menu">
                          <div class="item">Document</div>
                          <div class="item">Image</div>
                      </div>
                  </div>
                  <div class="item">
                      Open...
                  </div>
                  <div class="item">
                      Save...
                  </div>
                  <div class="item">Edit Permissions</div>
                  <div class="divider"></div>
                  <div class="header">
                      Export
                  </div>
                  <div class="item">
                      Share...
                  </div>
              </div>

          </div>

          <div class="item">
              <i class="icon mail"></i>
              <div class="ui red label">22</div>
          </div>

          <div class="item">
              <i class="icon users"></i>
              <div class="ui teal label">22</div>
          </div>

          <a class="right item" href="/logout">
              <i class="ui inverted sign out icon"></i>
              Logout
          </a>
          {% endif %}
        </div>
    </div>
{% endblock %}
