<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load tz %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CryptoCraker</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
		<meta name="author" content="Codrops" />
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/semantic-ui/components/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/semantic-ui/components/icon.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/css/semantic.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript" src="{% static 'crypto/js/semantic.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'crypto/js/dropdown.js' %}"></script>
    <meta charset="utf-8">
    <title>live Contests</title>

  </head>
  <body>
    {% include "crypto/sidenavbar.html" %}

		{% block sidenav %}
		{% endblock %}

		<div>
			{% include 'crypto/navbar.html' %}
			{% block navbar %}
			{% endblock %}
      <div class="ui piled segment " style="margin:20em;padding:10em">
        <h1 class="ui center aligned icon header">
          <i class=" circular file text icon"></i>
          {{contest.contest_name}}
        </h1>
        <div class="ui divider">
        </div>

          <div class="ui grid" style="padding-top:1em">
            <div class="ui huge horizontal list ten wide column" style="padding-top:2em;padding-left:2em;border-right:1px solid black">
              <div class="item">
                <div class="content">
                  <div class="header">Start Time</div>
                    {{contest.start_time}}
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">Matt</div>
                    Top Rated User
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">End Time</div>
                    {{contest.end_time}}
                  </div>
                </div>
              </div>

              <div class="ui modal">
                <i class="close icon"></i>
                <div class="header">
                  Login
                </div>
                <div id="loginblock" style="height:52em;padding-top:15em;padding-left:7em;padding-right:7em;display:block">
                  {% if messages %}
                    <div style="width:fit-contnet;border:1px black solid;border-radius:10px;margin-bottom:20px" >
                      <div style="margin-left:100px;padding-top:20px;padding-bottom:20px">
                          {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}<strong></li>
                          {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                  <div class="ui middle aligned center aligned grid">

                    <div class="column">
                      <h2 class="ui teal image header">
                      <img src="{% static 'crypto/logo2.png' %}" class="image">
                      <div class="center content">
                        Log-in to your account
                      </div>
                      </h2>
                      <form class="ui large form" action="/	login/" method="post">
                        {% csrf_token %}
                        <div class="ui stacked segment">
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="user icon"></i>
                              <input type="text" class="col s6 validate" name="username" required placeholder="username">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="lock icon"></i>
                              <input type="password" name="password" class="col s6 validate" required placeholder="Password">
                            </div>
                          </div>
                          <button type="submit" style="margin-top:30px"class= "ui fluid large teal button">Login</button>
                        </div>
                        <div class="ui error message"></div>
                      </form>
                      <div class="ui message">
                        New to us? <a id="signupdivert">Sign Up</a>
                      </div>
                    </div>
                  </div>
                </div>
                    <!-- signup -->
                <div id="signupblock" style="height:52em;padding-top:8em;padding-left:7em;padding-right:7em;display:none">
                  <div class="ui middle aligned center aligned grid">
                    <div class="column">
                      <h2 class="ui teal image header">
                      <img src="{% static 'crypto/logo2.png' %}" class="image">
                      <div class="center content">
                        Make a new account account
                      </div>
                      </h2>
                      <form class="ui large form" action="signup/" method="post">
                        {% csrf_token %}
                        <div class="ui stacked segment">
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="user icon"></i>
                              <input type="text" class="col s6 validate" name="username" required placeholder="username">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="user icon"></i>
                              <input type="text" class="col s5 validate "  name="roll" required placeholder="Roll No">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="user icon"></i>
                              <input type="text" class="col s6 validate" name="name" required placeholder="Full Name">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="mail icon"></i>
                              <input type="email" name="email" class="col s4 validate" required placeholder="email">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="phone icon"></i>
                              <input type="number" name="ph_no" class="col s4 validate" required placeholder="Phone No.">
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui left icon input">
                              <i class="lock icon"></i>
                              <input type="password" name="password" class="col s6 validate" required placeholder="Password">
                            </div>
                          </div>
                          <!-- <div class="ui fluid large teal submit button">Signup</div> -->
                          <button class="ui fluid large teal button" type="submit">Signup</button>
                        </div>
                        <div class="ui error message"></div>
                      </form>
                      <div class="ui message">
                        Already have an account?<a id="logindivert">Log In</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% if profile %}
                {% if register %}
                  <div class="six wide column"  style="padding-left:7em;display:block">
                    <a class="massive disabled ui button" id="enter">
                      Enter Here
                    </a>
                  </div>
                  {% else %}
                  <div class="six wide column" id="register" style="padding-left:7em" >
                    <a class="massive ui button" href="register/">
                      Register Here
                    </a>
                  </div>
                {% endif %}
              {% else %}
              <div class="six wide column" style="padding-left:7em" >
                <a class="massive ui button modal-btn">
                  Register
                </a>
              </div>
              {% endif %}


            </div>

          <h3 class="ui horizontal divider header">
            <i class="tag icon"></i>
            Overview
          </h3>
          <div class="container">
            {% for x in description %}
            <p>{{forloop.counter}}){{x}}</p>
            {% endfor %}
          </div>
          <h3 class="ui horizontal divider header">
            <i class="file text icon"></i>
            Rule
          </h3>
          <div class="container">
            {% for x in rules %}
            <p>{{forloop.counter}}){{x}}</p>
            {% endfor %}
          </div>

          <h3 class="ui horizontal divider header">
            <i class="trophy icon"></i>
            Prizes
          </h3>
          <div class="container" style="padding-top:1em">
            <div class="ui grid" style="padding-top:1em">
              <img src="{% static 'crypto/img/gold.png' %}" style="height:70px;width:100px;margin-right:3em">
              <div class="ui big list">
                <div class="item">
                  <div class="content">
                    <div class="header">First Prize</div>
                      {{prizes.0}}
                    </div>
                  </div>
              </div>
            </div>
             <div class="ui grid" style="padding-top:1em">
               <img src="{% static 'crypto/img/silver.png' %}" style="height:70px;width:100px;margin-right:3em">
               <div class="ui big list">
                 <div class="item">
                   <div class="content">
                     <div class="header">Second Prize</div>
                       {{prizes.1}}
                     </div>
                   </div>
               </div>
             </div>
             <div class="ui grid" style="padding-top:1em" >
               <img src="{% static 'crypto/img/bronze.png' %}" style="height:70px;width:100px;margin-right:3em">
               <div class="ui big list">
                 <div class="item">
                   <div class="content">
                     <div class="header">Third Prize</div>
                       {{prizes.2}}
                     </div>
                   </div>
               </div>
             </div>
          </div>
          <div class="ui special cards" style="padding-left:4em;padding-right:3em;padding-top:5em">
          </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <!-- logging out if no action for 30 minutes -->
    <script type="text/javascript" src="{% static 'crypto/js/logout_session.js' %}"></script>
    {% endif %}
    <script>
    $('.modal-btn').click(function(){
      $('.ui.modal')
      .modal('show')
    ;
    });
    $('#enter').click(function(){
      alert('Do not close');
      window.open('/quiz/{{contest.pk}}/live/','myWindow', "width=1500, height=1000");
    });

    $(document).ready(function(){
      $('.ui.accordion').accordion('refresh');

      });
      $('#signupdivert').click(function(e){
        $('#loginblock').css({'display':'none'});
        $('#signupblock').css({'display': 'block'});
      });
      $('#logindivert').click(function(e){
        $('#loginblock').css({'display':'block'});
        $('#signupblock').css({'display': 'none'});
      });
      $('.ui.sidebar')
          .sidebar('attach events', '#navbar #sidebartrigger')
          // .sidebar('setting', 'transition', 'overlay')
          // .sidebar('toggle')
      ;
      $('.special.cards .image').dimmer({
        on: 'hover'
      });
      var re = window.setInterval(func,1000);
      var start=new Date("{{string_date}}");
      var now=new Date();
      function func()
      {
        if ( start < now)
        {
          $('#enter').removeClass('disabled');
        }
      }

      var re = window.setInterval(func,1000);
      var end=new Date("{{end_string_date}}");
      var now=new Date();
      function func()
      {
        if ( end < now)
        {
          window.location="/quiz/{{conetst.pk}}/result";
        }
      }

      var re = window.setInterval(funct,1000);
      var start=new Date("{{string_date}}");
      var now=new Date();
      function funct()
      {
        var fin1=localStorage.getItem("finished");
        // alert(fi/n1);
        var fin='{{register.finished}}';
        //
        if(fin=='True' || fin1==1)
        {
          // alert(fin);
          $('#enter').addClass('disabled');
          // localStorage.setItem("finished", "0");
        }
      }
  </script>

  </body>
</html>
