<!DOCTYPE html>
<html>
  <head>
    {% load static %}

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CryptoCraker</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
		<meta name="author" content="Codrops" />
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/semantic-ui/components/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/semantic-ui/components/icon.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/css/semantic.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript" src="{% static 'crypto/js/semantic.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'crypto/js/dropdown.js' %}"></script>
    <meta charset="utf-8">
    <title>Past Contests</title>
  </head>
  <body>
    {% include "crypto/sidenavbar.html" %}

		{% block sidenav %}
		{% endblock %}

		<div>
			{% include 'crypto/navbar.html' %}
			{% block navbar %}
			{% endblock %}

      <div class="ui">
          <div class="ui piled segment " style="margin:20em;padding:10em">
            <span class="ui"> PAST CONTESTS </span>
            <div class="ui divider">

            </div>
            <table class="ui striped table">
              <thead>
                <tr>

                  <th>Contest Name</th>
                  <th>Date of Contest</th>
                  <th>Duration</th>
                  <th>Penalty</th>
                  <th>Participated</th>
                  <th>LeaderBoard</th>
                  <th>Preview</th>

                </tr>
              </thead>
              <tbody>

                {% for past in past_contest %}
                  <tr>
                    <td>{{past.contest_name}}</td>
                    <td>{{past.start_time}}</td>
                    <td><span>{% if past.d_day != 0 %}{{ past.d_day }} days{% endif %} {% if past.d_hour != 0 %}{{past.d_hour}} hours{% endif %} {% if past.d_minute != 0 %}{{past.d_minute}} minutes{% endif %}</td>
                    <td>{{past.penalty}}</td>
                    <td>{{past.contestants}}</td>
                    <td><a href="/quiz/past/{{past.pk}}/leaderboard">View the Leaderboard</a></td>
                    <td><a href="/quiz/past/{{past.pk}}/">Take a peek</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

      </div>
    </div>
    {% if user.is_authenticated %}
    <!-- logging out if no action for 30 minutes -->
    <script type="text/javascript" src="{% static 'crypto/js/logout_session.js' %}"></script>
    {% endif %}
    <script>
    $(document).ready(function(){
      $('.ui.accordion').accordion('refresh');

      });
      $('#signupdivert').click(function(e){
        $('#loginblock').css({'display':'none'});
        $('#signupblock').css({'display': 'block'});
      });
      $('#logindivert').click(function(e){
        $('#loginblock').css({'display':'block'});
        $('#signupblock').css({'display': 'none'});
      });
      $('.ui.sidebar')
          .sidebar('attach events', '#navbar #sidebartrigger')
          // .sidebar('setting', 'transition', 'overlay')
          // .sidebar('toggle')
      ;
      $('.special.cards .image').dimmer({
        on: 'hover'
      });


    </script>

  </body>
</html>
