<!DOCTYPE html>
<html>
	<head>
    {% load static %}

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Leaderboard</title>
		<meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
		<meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
		<meta name="author" content="Codrops" />
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/semantic-ui/components/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/semantic-ui/components/icon.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'crypto/css/semantic.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
		<script type="text/javascript" src="{% static 'crypto/js/semantic.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'crypto/js/dropdown.js' %}"></script>
  </head>
<BODY>
{% if contest_data.contest_type %}
  HEYA
{% else %}
<H1> <B> <CENTER>
LEADERBOARD
<BR>
 Contest Name : {{ contest_data.contest_name }}
</H1> </B> </CENTER>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>User Name</th>
      <th>Name</th>
      <th>Final Score[{{ t_score }}]</th>
      {% for i in questions %}
        <th class="center aligned">Question {{ i }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in lboard_data %}
    <tr>
        <td><B> {{i.rank}} </B></td>
        <td><B> {{i.user_id}} </B></td>
        <td><B> {{i.name}} </B></td>
        <td><B> {{i.total}} </B></td>
          {% for j in i.quest %}
            {% if j.notattempt %}
            <td class="center aligned">
              <i class="large attention icon"></i>
            </td>
            {% elif j.correct %}
            <td class="center aligned">
              <i class="large green checkmark icon"></i>
            </td>
            {% else %}
            <td class="center aligned">
              <i class="large red icon close"></i>
            </td>
            {% endif%}
          {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</BODY>
</HEAD>
