{% load static %}
{% block timer %}

<script>
// Set the date we're counting down to
// var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    // var now = new Date().getTime();
    // Find the distance between now an the count down date
    // var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(duration / ( 60 * 60 * 24));
    var hours = Math.floor((duration % ( 60 * 60 * 24)) / (60 * 60));
    var minutes = Math.floor((duration % ( 60 * 60)) / (60));
    var seconds = Math.floor((duration % ( 60)));

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = hours + "h "
    + minutes + "m " + seconds + "s ";
		duration-=1
    // If the count down is over, write some text
    if (duration < 0) {
        clearInterval(x);
        alert("Time Expired");
    }
}, 1000);
</script>
{% endblock %}
